@tailwind base;
@tailwind components;
@tailwind utilities;

.jumbotron {
    height: 400px;
    background-size: cover;
}

@media (min-width: 768px) {
    .jumbotron {
        height: 500px;
    }
}

@media (min-width: 1024px) {
    .jumbotron {
        height: 600px;
    }
}